page-crags {

    .segment-ios .segment-button.segment-activated {
    color: #5b91da;
    background-color: #fff; 
    transition: 100ms all linear;
    }

    .segment-ios .segment-button:first-of-type {
        color: #fff;
    }

    .segment-ios .segment-button:not(:first-of-type) {
        color: #fff;
    }


    .segment-ios .segment-button {
        border-color: #fff;
    }

    ion-content {
        padding-right: 390px;
    }

    .scroll-content {
        background-color: #0087be;
        color: fff;
    }

    .scroll-content h2 {
        color: fff;
    }

    ion-item-sliding {
        margin: 5px;
       // padding-right: 3px;
    }
    
    .list {
        font-size: 1em;
        font-weight: bold;
        color:    #0087be;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .list-item {
        display: block;
        color: #cecece;
        font-weight: 200;
        margin-top: 5px;
    }
}