.sebm-google-map-container {
//   height: 300px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 150ms ease-in
}

div .no-padding{
    padding: 0;
}

button .full-width{
    width:100%;
}

ion-row.marker{
    padding-top: 10px;
    padding-bottom: 10px;
}

.fab-ios.fab-in-list.calculate{
    background-color: #32db64;
}

.fab-ios.fab-in-list.navigate{
    background-color: #f53d3d;
}

.fab[mini] {
    margin: 2px;
    width: 30px;
    height: 30px;
    line-height: 40px;
}

.infoWindowIcon{
    font-size: 40px;
    padding-right: 10px;
}

.infoWindowText{
    //font-size: 1.em;
    padding-bottom: 10px;
}

.add{
    color: #387ef5;
}
.edit{
    color: #32db64;
}
.info{
    color: #222;
}
.delete{
    background-color: #f53d3d;
}
