// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$categories: (
 crag: color($colors, primary),
 parking: #AC282B,
 camping_area: #8E8D93,
//  tooling: #FE4C52,
//  services: #FD8B2D,
//  design: #FED035,
//  workshop: #69BB7B,
//  food: #3BC7C4,
//  documentation: #B16BE3,
//  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

// page-schedule {
//   @each $track, $value in auxiliary-categories() {
//    ion-item-sliding[track=#{$track}] ion-label {
//      border-left: 2px solid $value;
//      padding-left: 10px;
//    }
//   }
//}


ion-input, ion-textarea {
    background-color: #F3F3F3;
    border: 1px solid #cecece;
    padding-left: 10px;
}

// ion-icon{
//     color: #0087be;
// }

ion-list.menu{
     margin: -1px 0 15px 0;
}

ion-textarea {
    height: 200px;
}

textarea {
    height: 180px;
}

button {
    border: none !important;
}

.navImg {
    margin: auto;
    width: 30px;
    height: 30px;
}